@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');

.bracket {
    display: flex;
    width: 100vw;
}

.bracket .bracket-round {
    display:flex;
    flex-direction:column;
    flex: 1;
    min-width: 130px;
    justify-content: flex-start;
}

.bracket .bracket-round .entry {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;

    border-bottom: 1px solid white;
    padding: 2px 5px;
    line-height: 1;
}

.entry .album-art {
    flex: 1;
}

.entry .title {
    flex: 4;
}

#bracket-rounds-selector {
	margin: 0;
	background-color: #828;
	text-align: center;
}

#bracket-rounds-selector * {
	margin: 0;
}

/* bracket lines styling */
.bracket .bracket-round .entry:nth-child(even) {
    border-right: 1px solid white;
}

/* hover effects */
.album-1989 { color: #ccc; }
.album-evermore { color: #b84; }
.album-fearless { color: #bb3; }
.album-folklore { color: #666; }
.album-lover { color: #b36; }
.album-midnights { color: #b9b; }
.album-red { color: #b00; }
.album-reputation { color: #333; }
.album-speak-now { color: #b5b; }
.album-taylor-swift { color: #66b; }
.album-the-life-of-a-showgirl { color: #6b6; }
.album-the-tortured-poets-department { color: #bbb; }


/* bracket rounds */
.bracket .bracket-round:nth-child(1)        {   background-color: #828;     }
.bracket .bracket-round:nth-child(2)        {   background-color: #828;     }
.bracket .bracket-round:nth-child(3)        {   background-color: #828;     }
.bracket .bracket-round:nth-child(4)        {   background-color: #828;     }
.bracket .bracket-round:nth-child(5)        {   background-color: #828;     }
.bracket .bracket-round:nth-child(6)        {   background-color: #828;     }
.bracket .bracket-round:nth-child(7)        {   background-color: #828;     }

/* height doubles each round */
.bracket .bracket-round:nth-child(1) .entry      {   height: 4vh; font-size: 0.5rem;             }
.bracket .bracket-round:nth-child(2) .entry      {   height: 8vh; font-size: 0.6rem;               }
.bracket .bracket-round:nth-child(3) .entry      {   height: 16vh; font-size: 1.0rem;               }
.bracket .bracket-round:nth-child(4) .entry      {   height: 32vh; font-size: 1.1rem;              }
.bracket .bracket-round:nth-child(5) .entry      {   height: 64vh; font-size: 1.2rem;             }
.bracket .bracket-round:nth-child(6) .entry      {   height: 128vh; font-size: 1.3rem;              }
.bracket .bracket-round:nth-child(7) .entry      {   height: 256vh; font-size: 1.5rem;             }

/* adjust to center stuff */
.bracket .bracket-round:nth-child(1) .entry:nth-child(1)    {   height:4vh;                }
.bracket .bracket-round:nth-child(2) .entry:nth-child(1)    {   height:6vh;                }
.bracket .bracket-round:nth-child(3) .entry:nth-child(1)    {   height:10vh;                }
.bracket .bracket-round:nth-child(4) .entry:nth-child(1)    {   height:18vh;                }
.bracket .bracket-round:nth-child(5) .entry:nth-child(1)    {   height:34vh;               }
.bracket .bracket-round:nth-child(6) .entry:nth-child(1)    {   height:66vh;               }
.bracket .bracket-round:nth-child(7) .entry:nth-child(1)    {   height:130vh;               }

@media screen and (max-width: 479px) {
    .bracket {
        overflow-x: scroll;
        width: 100%;
    }
    .bracket .bracket-round {
        flex-basis: 0;
        flex-grow: 0;
        flex-shrink: 1;
    }

}

#footer {
	text-align: center;
	background-color: #f8f;
	h1 {
		margin: 0;
		padding-top: 20px;
	}
}
