@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');

body {
    background-color: #b3b;
    width: 100vw;
}

* {
    font-family: "Borel", system-ui;
    color: #fff;
    box-sizing: border-box;
}

.bracket {
    display: flex;
    width: 100vw;
    margin-bottom: 30vh;
}

.bracket .bracket-round {
    display:flex;
    flex-direction:column;
    flex: 1;
    min-width: 130px;
    justify-content: flex-start;
}

.bracket .bracket-round div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    border-bottom: 1px solid white;
    padding: 5px;

}

/* bracket lines styling */
.bracket .bracket-round div:nth-child(even) {
    border-right: 1px solid white;
}

/* hover effects */
.bracket .bracket-round div .artists { color: #999; }
.bracket .bracket-round div:hover .title { color: #ff0; }
.bracket .bracket-round div:hover .artists { color: #999; }
.bracket .bracket-round div:hover { color: #ff3; }
.bracket .bracket-round div:hover .title { text-shadow: 3px 3px #000; }

/* bracket rounds */
.bracket .bracket-round:nth-child(1)        {   background-color: #b46;     }
.bracket .bracket-round:nth-child(2)        {   background-color: #b47;     }
.bracket .bracket-round:nth-child(3)        {   background-color: #b48;     }
.bracket .bracket-round:nth-child(4)        {   background-color: #b49;     }
.bracket .bracket-round:nth-child(5)        {   background-color: #b4a;     }
.bracket .bracket-round:nth-child(6)        {   background-color: #b4b;     }
.bracket .bracket-round:nth-child(7)        {   background-color: #b4c;     }

/* height doubles each round */
.bracket .bracket-round:nth-child(1) div      {   height: 16vh; font-size: 1rem;             }
.bracket .bracket-round:nth-child(2) div      {   height: 32vh; font-size: 1.4rem;               }
.bracket .bracket-round:nth-child(3) div      {   height: 64vh; font-size: 1.5rem;               }
.bracket .bracket-round:nth-child(4) div      {   height: 128vh; font-size: 1.6rem;              }
.bracket .bracket-round:nth-child(5) div      {   height: 256vh; font-size: 1.7rem;             }
.bracket .bracket-round:nth-child(6) div      {   height: 512vh; font-size: 1.8rem;              }
.bracket .bracket-round:nth-child(7) div      {   height: 1024vh; font-size: 1.9rem;             }

/* adjust to center stuff */
.bracket .bracket-round:nth-child(1) div:nth-child(1)    {   height:12vh;                }
.bracket .bracket-round:nth-child(2) div:nth-child(1)    {   height:20vh;                }
.bracket .bracket-round:nth-child(3) div:nth-child(1)    {   height:36vh;                }
.bracket .bracket-round:nth-child(4) div:nth-child(1)    {   height:68vh;                }
.bracket .bracket-round:nth-child(5) div:nth-child(1)    {   height:132vh;               }
.bracket .bracket-round:nth-child(6) div:nth-child(1)    {   height:260vh;               }
.bracket .bracket-round:nth-child(7) div:nth-child(1)    {   height:516vh;               }

@media screen and (max-width: 479px) {
    .bracket {
        overflow-x: scroll;
        width: 100%;
    }
    .bracket .bracket-round {
        flex-basis: 0;
        flex-grow: 0;
        flex-shrink: 1;
    }

}
